/* Göm hamburger-menyn i desktopläge */
@media (min-width: 769px) {
  .hamburger-container {
    display: none;
  }
}

/* Visa hamburger-menyn och dess container i mobil */
@media (max-width: 768px) {
  .hamburger-container {
    display: flex;
    align-items: center;
    gap: 1rem; /* Avstånd mellan hamburger-menyn och tema-ikonen */
  }
}

/* Hamburger-menyn */ 
.hamburger {
  width: 30px;
  height: 25px;
  position: relative;
  cursor: pointer;
  z-index: 1000; /* För att säkerställa att den är överst i z-axeln */ 
}

/* Strecken i hamburger-menyn */
.hamburger span {
  /*background-color: #d4af37;*/
  background-color: #f5f5f5;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s ease; /* Animering av strecken */ 
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  top: 11px;
}

.hamburger span:nth-child(3) {
  bottom: 0;
}

/* "X"-läge när man klickar på hamburger-menyn för att öppna den*/
.hamburger.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 11px;
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 11px;
}

/* Hamburger-menyn */
.hamburger-menu {
  position: absolute;
  top: 55px;
  right: 0.5rem;
  /*background: #312f2c;*/ 
  background: #385f71;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 5px;
}

/* Länkar i hamburger-menyn */ 
.hamburger-menu a {
  /*color: #d4af37;*/
  color: #f5f5f5;
  text-decoration: none;
}
