/* Säkerställ att headern täcker hela skärmbredden */
.header {
  width: 100%; /* Får den att täcka hela bredden */
  position: fixed; /* Fixera headern högst upp */
  top: 0;
  left: 0;
  right: 0;
  max-width: 1280px; /* Maxbredd för innehållet i headern */
  margin: 0 auto; /* Centrerar innehållet */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem;
  background-color: #312f2c;
  color: #d4af37;
  z-index: 10; /* Gör så att headern ligger ovanpå andra element */
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
}
